# Android generated
bin/
gen/
obj/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac 
.DS_Store

# svn
.svn

# vim
*.swp

# proguard
proguard

# Gradle
.gradle
build
build/
.idea
release/
local.properties
infer-out/
AnyMarvel.jks